# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
*.pid
*.pid.lock
*.seed

# Coverage
coverage/
.nyc_output/

# Build output
/dist
/tmp

# IDE / editors
.idea/
.vscode/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# npm
.npm
.eslintcache
*.tgz
